<template>
  <div>
    <Upload v-on:add-item="AddItemToList"/>
    <ListItems
      :listItems="listItems"
      :fields="fields"
    />
  </div>
</template>

<script>
import Upload from '@/components/Home/Upload'
import ListItems from '@/components/Home/ResultList/ListItems'
export default {
  name: 'Main',
  data () {
    return {
      fields: [
        'index',
        'id',
        'status',
        'url_image'
      ],
      listItems: []
    }
  },
  components: {
    Upload,
    ListItems
  },
  methods: {
    AddItemToList (item) {
      this.listItems.push(item)
    }
  }
}
</script>

<style scoped></style>
