<template>
  <div>
    <div align="center">
      <b-card bg-variant="light" class="form-resize">
        <h3>Upload image to resize:</h3>
        <b-form @submit.prevent="onSubmit">
          <b-form-group
            id="fieldset-1"
            label="Enter width target"
            label-cols-xl="6"
            label-for="image_width"
          >
            <b-form-input
              :state="Boolean(form.widthTarget)"
              id="image_width"
              name="widthTarget"
              placeholder="Enter width" required
              type="number"
              v-model="form.widthTarget"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-2"
            label="Enter height target"
            label-cols-lg="6"
            label-for="image_height"
          >
            <b-form-input
              :state="Boolean(form.heightTarget)"
              id="image_height"
              name="heightTarget"
              placeholder="Enter height" required
              type="number"
              v-model="form.heightTarget"
            ></b-form-input>
          </b-form-group>
          <b-form-file
            :state="Boolean(form.file)"
            @change="onFileUpload"
            accept=".jpg, .png, .jpeg"
            drop-placeholder="Drop file here..."
            name="imageData"
            placeholder="Choose a file or drop it here..."
            v-model="form.file"
          ></b-form-file>
          <p class="submit-button">
            <b-button @submit="onSubmit" type="submit" variant="primary" >Upload</b-button><br>
          </p>
        </b-form>
        <b-progress :max="100" :value="uploadPercentage" animated show-progress></b-progress>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Upload',
  mounted () {
    console.log('Upload component is mounted')
  },
  data () {
    return {
      uploadPercentage: 0,
      form: {
        file: null,
        widthTarget: '100',
        heightTarget: '100'
      },
      task_id: null,
      output_url: null
    }
  },
  methods: {
    onFileUpload (event) {
      this.form.file = event.target.files[0]
    },
    wait (delay) {
      return new Promise(resolve => setTimeout(() => resolve(), delay))
    },
    async onSubmit () {
      // post request
      const postResponse = await this.postImageResize()
      this.task_id = postResponse.data.task_id
      // console.log('post response')
      // console.log(postResponse)
      // console.log('task_id: ' + this.task_id)
      // get request
      // const getResponse = await this.getUrl(this.task_id)
      const getResponse = await this.waitResponse(this.task_id)
      // console.log('get response')
      // console.log(getResponse)
      // url
      const resizedImageUrl = this.axios.defaults.baseURL + getResponse.data['url_image']
      // console.log('url_image: ' + getResponse.data['url_image'])
      // console.log(resizedImageUrl)
      const itemResult = {
        id: this.task_id,
        status: getResponse.status,
        url_image: resizedImageUrl
      }
      this.$emit('add-item', itemResult)
    },
    async waitResponse (token) {
      const tryCountLimit = 10
      let tryCount = 0
      while (tryCount++ < tryCountLimit) {
        let response = await this.getUrl(token)
        if (response.status === 200) {
          return response
        } else if (response.status === 206) {
          console.log('loading...')
        }
        await this.wait(1000)
      }
    },
    async getUrl (token) {
      return this.axios.get('api/image/task/' + token)
    },
    postImageResize () {
      const formData = new FormData()
      const sizeTarget = JSON.stringify({width: this.form.widthTarget, height: this.form.widthTarget})
      formData.append('size_target', sizeTarget)
      formData.append('image_data', this.form.file)
      return this.axios.post('api/image/resize/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress: function (progressEvent) {
          this.uploadPercentage = parseInt(Math.round(progressEvent.loaded / progressEvent.total) * 100)
        }.bind(this)
      })
    }
  }
}
</script>

<style scoped>
  .form-resize {
    text-align: center;
    width: 500px;
    margin-top: 30px;
  }
  .submit-button {
    text-align: right;
    margin-top: 10px;
  }
</style>
