<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark" fixed>
          <b-navbar-brand href="#">NavBar</b-navbar-brand>
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <router-link tag="b-nav-item" :to="{name: 'Home'}"
               active-class="active" exact>Home</router-link>
              <router-link tag="b-nav-item" :to="{name: 'About'}"
              active-class="active">About</router-link>
            </b-navbar-nav>
          </b-collapse>
      </b-navbar>
    </div>
      <b-row>
        <b-col></b-col>
        <b-col cols="8">
          <router-view />
        </b-col>
        <b-col></b-col>
      </b-row>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* margin-top: 0px; */
}
.content {
  /* margin-top: 50px; */
  font-size: 16px;
}
</style>
